{% extends "base.html" %}

{% block schema %}
    itemtype="http://schema.org/Article"
{% endblock schema %}

{% block metadescripcion %}
  <meta name='description' content="{{ article.summary|striptags }}">
{% endblock metadescripcion %}

{% block content %}
<section id="article">
  <header>
    <h2>
      <a class="article-title" href="{{ article.url }}" rel="bookmark"
         title="Permalink a {{ ' ' }} {{ article.title|striptags }}">{{ article.title }}</a></h2>
  </header>
  <footer class="post-info">
    <abbr class="published" title="{{ article.date.isoformat() }}">
      Publicado el {{ ' ' }} {{ article.locale_date }}
    </abbr>
    {% if article.author and SHOW_AUTHOR %}
    <address class="author">
      Escrito por {{ ' ' }} <a href="{{ SITEURL }}/{{ article.author.url }}" title='{{AUTHOR_FULL_NAME}}'>{{ article.author }}</a>
    </address>
    {% endif %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->

  <div class="real-footer">
    {% include "tagslist.html" %}
    <div class="r">
      <div class="g-plusone" data-annotation="none" size='medium'></div>
    </div>

    <div class="clear"></div>
  </div>

  {% if DISQUS_SITENAME %}
  <div class="comments">
    <h3>Comentarios !</h3>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'alexanderaeblog';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  {% endif %}
</section>
{% endblock %}
