/* CONSTANTES */
/* BASE */
html {
  background: rgba(243,243,243,0.5);
}
body {
  margin: 0;
  font-family: -apple-system, Roboto, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}
a,
.link {
  color: #004e63;
  text-decoration: none;
}
a:hover,
.link:hover,
a.active,
.link.active {
  color: #af3a11;
}
abbr {
  border-bottom: 0;
}
abbr[title] {
  border: none;
  text-decoration-line: none;
}
address {
  font-style: normal;
}
blockquote {
  border-left: 1px solid #ddd;
  padding: 9px 20px 0 19px;
  margin: 0 0 17px;
}
em {
  font-style: normal;
  color: #af3a11;
}
b,
strong {
  color: #9e340f;
  font-weight: normal;
}
sup {
  vertical-align: super;
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0 10px 0;
  color: #af3a11;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
p img {
  display: block;
  margin: 10px auto;
  border: 1px solid #ececec;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  background: #fff;
  padding: 5px;
  max-width: 100%;
}
dt {
  font-weight: bold;
  margin-top: 5px;
}
ul,
li,
a {
  font-size: 1.6rem;
}
li p {
  display: inline;
}
.l {
  float: left;
}
.r {
  float: right;
}
.clear {
  clear: both;
}
.container {
  width: 95%;
}
.hide-for-tablet {
  display: none;
}
.highlight {
  background: #333;
  font-size: 1.6rem;
  margin: 15px;
  padding: 10px;
  max-height: 400px;
  overflow: auto;
}
.highlight span {
  line-height: 150%;
}
.highlight .err {
  background-color: transparent;
}
pre {
  font-family: 'andale mono', 'monotype.com', 'monaco', 'courier new', 'courier', 'monospace';
  margin-bottom: 0;
}
.inline-list {
  padding: 0;
  list-style: none;
}
.inline-list > li {
  list-style: none;
  float: left;
  margin: 0 2rem 0 0;
  display: block;
}
.footnote-ref {
  font-size: 1.25rem;
  padding: 0 5px;
}
.footnote {
  margin-top: 32px;
  font-size: 1.4rem;
}
.footnote ol {
  list-style: outside decimal;
  margin: 0 0 10px 25px;
}
.footnote hr {
  padding: 0;
  border: none;
  border-top: 5px double #ddd;
  color: #666;
  text-align: center;
  height: 0;
  margin: 20px 0 10px;
}
.footnote hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -12px;
  font-size: 1.9rem;
  padding: 0 4px;
  background: #fff;
  font-style: oblique;
  font-weight: bold;
}
.footnote p {
  font-size: 1.4rem;
}
header {
  line-height: 4rem;
  font-size: 2.4rem;
  font-weight: bold;
}
header q {
  display: block;
  margin: 2rem auto;
  text-align: center;
}
header a {
  color: #af3a11;
  display: block;
  font-size: 4rem;
  text-align: center;
}
header a:hover {
  color: #af3a11;
}
footer {
  margin: 25px 0;
  border-top: 4px solid #243e16;
  border-bottom: 4px solid #243e16;
  font-size: 1.6rem;
}
footer nav {
  padding: 0 10px;
  float: left;
}
footer .license {
  float: right;
  font-size: 1.6rem;
  margin: 0;
  padding-left: 10px;
}
footer .license-a {
  font-size: 1.6rem;
}
#menu {
  margin: 5px 0;
  border-bottom: 0.05rem solid rgba(0,78,99,0.5);
}
#menu .nav-a {
  padding: 0 10px 5px 0;
  margin-right: 10px;
  display: inline-block;
  font-size: 1.6rem;
}
#menu .social {
  float: right;
}
#menu .social-a {
  margin: 0 4px;
}
#menu .social-email,
#menu .social-twitter,
#menu .social-rss {
  background: #555753;
}
#menu .social-twitter:hover {
  background: #6490b0;
}
#menu .social-rss:hover {
  background: #af3a11;
}
#menu .social-email:hover {
  background: #456e14;
}
.paginator {
  margin: 15px;
  text-align: center;
}
.paginator a {
  width: 36px;
  height: 28px;
  background-color: #555753;
  color: #fff;
  display: inline-block;
  margin: 0 6px 6px 0;
}
.paginator .pag {
  width: 16px;
  height: 16px;
  display: block;
  margin: 2px 10px;
  text-align: center;
}
.paginator .active {
  background-color: #af3a11;
}
.search-box {
  margin: 20px 40px;
}
/* ETIQUETAS */
.tags-container-ul {
  margin: 0;
  float: left;
}
.tags-container-li {
  display: inline;
  list-style-type: none;
  padding-right: 2px;
}
/* BLOG */
body.home h1 {
  font-weight: bold;
  text-align: center;
}
body.home .entry em {
  color: #222;
}
body.home .entry h2,
body.home .entry h3,
body.home .entry h4,
body.home .entry h5 {
  font-size: 1.6rem;
  color: #222;
  font-weight: bold;
}
body.home .entry hr {
  margin: 1.5rem 0;
  border-top: 1px solid #808080;
}
body.home .entry .entry-content a {
  color: #222;
}
body.home .entry abbr {
  font-size: 1.4rem;
  color: #af3a11;
}
.entry {
  background: #fff;
  border: #444 solid 2px;
  border-radius: 7px;
  margin: 10px 0 20px;
  min-height: 200px;
  position: relative;
  font-size: 1.6rem;
  padding: 20px 0 20px 20px;
}
.entry h2 {
  line-height: 1;
}
.entry .entry-title-a {
  color: #af3a11;
  font-size: 2.4rem;
  font-weight: bold;
}
.entry .entry-title-a blockquote {
  border-left: 1px solid #af3a11;
}
.entry .entry-title-a blockquote,
.entry .entry-title-a blockquote p {
  color: #333;
}
.entry .ver-mas {
  float: right;
  margin-right: 10px;
}
.entry-content {
  line-height: 150%;
}
.entry-content h2 {
  font-size: 2.25rem;
}
.entry-content h3 {
  font-size: 2rem;
  margin: 10px 0 10px 0;
}
.entry-content h4 {
  font-size: 1.8rem;
}
.entry-content h5 {
  font-size: 1.6rem;
}
/* DETALLE DE ARTÍCULO */
#article {
  margin: 0 auto;
  max-width: 900px;
  font-size: 1.5rem;
}
#article h1 {
  line-height: 0.75;
  margin-bottom: 1.5rem;
}
#article h1 a:hover {
  color: #af3a11;
}
#article .published {
  font-size: 1.4rem;
}
#article .author {
  font-size: 1.4rem;
}
#article .article-title {
  color: #af3a11;
  font-size: 3rem;
  font-weight: bold;
}
#article .entry-content {
  margin: 20px 0 30px;
}
#article .entry-content p {
  line-height: 160%;
  margin: 10px 0;
}
#article .entry-content ol {
  list-style-type: decimal;
  margin-left: 20px;
}
#article .entry-content li {
  margin: 5px;
}
#article .entry-content h2 {
  font-size: 2.25rem;
}
#article .entry-content h3 {
  font-size: 2rem;
}
#article .entry-content h4 {
  font-size: 1.8rem;
}
#article .entry-content h5 {
  font-size: 1.4rem;
}
#article .entry-content h2,
#article .entry-content h3,
#article .entry-content h4,
#article .entry-content h5 {
  font-weight: bold;
}
#article .real-footer {
  margin: 5px;
}
#article .comments {
  margin: 10px 0;
}
#article .comments h3 {
  margin: 5px 0;
  font-size: 17px;
}
#article pre {
  font-size: 1.5rem;
}
#article a {
  color: #af3a11;
}
#article a:hover {
  text-decoration: underline;
}
#article em {
  color: #004e63;
}
/* ARCHIVES - TAGS - PAGES */
#archive-content dd {
  margin: 5px 0;
}
#archive-content dd .year {
  font-size: 2.4rem;
  margin: 10px 0;
}
#archive-content dd .month {
  font-size: 2rem;
  margin: 10px 5px;
}
#archive-content dd .day {
  margin: 2px 15px;
}
#archive-content,
#page-content {
  margin: 0 0 30px;
}
#archive-content h1,
#page-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #af3a11;
  margin: 8px 0 16px;
}
/* VIDEOS */
.responsive-embed-youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}
.responsive-embed-youtube iframe {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}
/* ETIQUETAS */
body.etiquetas h1 {
  font-weight: bold;
  font-size: 2.5rem;
}
body.etiquetas em {
  color: #222;
}
body.etiquetas #cloud list-style-type:none {
  margin: 3rem 0;
}
body.etiquetas #cloud li {
  display: inline-block;
  margin-right: 12px;
}
body.etiquetas #cloud .a-tag-0,
body.etiquetas #cloud .a-tag-1,
body.etiquetas #cloud .a-tag-2,
body.etiquetas #cloud .a-tag-3,
body.etiquetas #cloud .a-tag-4 {
  text-decoration: none;
}
body.etiquetas #cloud .a-tag-0 {
  font-size: 4rem;
  line-height: 1;
}
body.etiquetas #cloud .a-tag-1 {
  font-size: 3.25rem;
  line-height: 1.2;
}
body.etiquetas #cloud .a-tag-2 {
  font-size: 2.5rem;
  line-height: 1.2;
}
body.etiquetas #cloud .a-tag-3 {
  font-size: 2rem;
  line-height: 1.5;
}
body.etiquetas #cloud .a-tag-4 {
  font-size: 2rem;
  line-height: 1.5;
}
/* BÚSQUEDA */
.pagina_buscar table {
  margin-bottom: 0;
}
.pagina_buscar th,
.pagina_buscar td {
  border-bottom: none;
}
.pagina_buscar .gsc-control-cse {
  min-height: 240px;
}
.pagina_buscar .gcsc-branding-clickable {
  font-size: 1rem;
}
/* DETALLE DE ETIQUETA */
.body.tag ol {
  list-style-type: none;
}
.body.tag ol li {
  margin: 0 0 20px;
}
.body.tag ol li a {
  color: #af3a11;
}
.body.tag ol li a:hover {
  color: #af3a11;
}
/* Larger than mobile */
@media (min-width: 400px) {
  #menu {
    margin: 12px 0;
  }
  #menu .nav-a {
    font-size: 1.8rem;
    padding: 0 15px 5px 0;
    margin-right: 10px;
  }
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .container {
    width: 90%;
  }
  .hide-for-tablet {
    display: initial;
  }
  header {
    line-height: 1;
    margin: 4rem 0;
  }
  header a {
    font-size: 5rem;
    max-width: 960px;
    margin: 1rem auto;
  }
  .entry .entry-title-a {
    font-size: 3rem;
  }
  .entry .ver-mas {
    margin-right: 0;
  }
  .entry .date {
    width: 100%;
    padding: 0;
  }
  .entry #archive-content,
  .entry #page-content {
    margin: 0 0 30px;
  }
  .entry #archive-content h1,
  .entry #page-content h1 {
    font-size: 3.6rem;
  }
  .entry body.etiquetas h1 {
    font-weight: bold;
    font-size: 3.6rem;
  }
  .entry body.etiquetas #cloud {
    margin: 3rem 0;
  }
  .entry body.etiquetas #cloud li {
    display: inline-block;
    margin-right: 12px;
  }
  .entry body.etiquetas #cloud .a-tag-0 {
    font-size: 4.5rem;
    line-height: 1;
  }
  .entry body.etiquetas #cloud .a-tag-1 {
    font-size: 4rem;
    line-height: 1.2;
  }
  .entry body.etiquetas #cloud .a-tag-2 {
    font-size: 3rem;
    line-height: 1.25;
  }
  .entry body.etiquetas #cloud .a-tag-3 {
    font-size: 2rem;
    line-height: 2;
  }
  .entry body.etiquetas #cloud .a-tag-4 {
    font-size: 1.5rem;
    line-height: 2.5;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  .container {
    width: 80%;
  }
  p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  .entry .entry-title-a {
    font-size: 3.6rem;
  }
  .entry .day {
    margin: 2px auto;
    padding: 4px;
    width: 55px;
  }
}
