{% extends "base.html" %}


{% block bodyClass %}home{% endblock bodyClass %}

{% block content %}
  <section id="blog-content">
    {% for article in articles_page.object_list %}
      <article class="entry row">
        <div class="columns eleven">

          <h2 class="entry-title">
            <a class='entry-title-a' href="{{ article.url }}" rel="bookmark"
               title="Permalink a{{ " " }}{{ article.title }}">{{ article.title }}</a>
          </h2>

          <abbr class="published" title="{{ article.date.isoformat() }}">
            Publicado el {{ ' ' }} {{ article.locale_date }}
          </abbr>

          <div class="entry-content">{{ article.summary }}</div>

          <div class="entry-footer">
            {% include "tagslist.html" %}
            <div class="ver-mas"><a href="{{ SITEURL }}/{{ article.url }}">Ver más</a></div>
            <div class="clear"></div>
          </div>
        </div>
      </article>
    {% endfor %}
    <!-- posts-list -->

    {% include 'pagination.html' %}
  </section><!-- /#blog-content -->
{% endblock content %}
